/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(50, 50, 50);
}
.titulo {
  background-color: rgb(156, 39, 176);
}
.icone {
  margin-left: 10px;
  margin-right: 20px;
}
